<!-- This is the template of the application. Every template must be on the templates' folder.
 The images will be placed in the static folder. In the <img> we are using a thymeleaf attribute
 and a relative path to the image. For example, the real image must be at:
 src/main/resources/static/Her.svg -->

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Hermanas Comunicação - Serviços</title>
</head>
<body>
    <h1>Bem-vinda a nossa página de serviços!</h1>
    <img alt="Logotipo da Hermanas Comunicação"
         src="../static/images/her-logo.jpg"
         th:src="@{/images/beethoven.jpg}"/>
</body>
</html>
