<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Hermanas - Serviços</title>
</head>
<body style=" background-image: url(../static/images/her-logo.jpg);
              background-position: center 30%;
              background-repeat: no-repeat;
              background-size: cover;
              block-size: auto;
              display: grid;
              grid-template: 50% 50% / 100%;
              place-items: center;">

<hgroup style="block-size: 100%;
                   display: grid;
                   grid-area: 1 / 1 / 2 / 2;
                   grid-template: 100% / 100%;
                   inline-size: 100%;
                   max-inline-size: 100%;">
    <h1 style="block-size: inherit;
                   grid-area: 1 / 1 / 2 / 2;
                   inline-size: inherit;
                   max-inline-size: inherit;
                   text-align: center;">Como podemos te ajudar?</h1>

    <p th:text="#{servicesOffered.name}"></p>
</hgroup>

</body>
</html>
